.p {
  width: 347px;
  height: 52px;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
}

.custom_input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--input-text);
  border-radius: var(--input-radius);
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.custom_input_disabled {
  background-color: #e0e0e0;
  color: #9e9e9e;
}

.has_id_row {
  background-color: #fff000;
}

.no_id_row {
  background-color: #f0f0f0;
}

.custom_table_border {
  border: none;
}
